@font-face {
    font-family: Montserrat;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

* {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}






.df-bg-primary {
    background-color: #ffa4ae;
}
.df-bg-dark {
    background-color: #F47280;
}

.btn-df {
    color: #000;
    background-color: #F47280;
    border-color: #F47280;
}
.btn-df:hover,
.btn-df:focus {
    color: #000;
    background-color: #BD4053;
    border-color: #BD4053;
}
.btn-df-outline {
    color: #F47280;
    background-color: transparent;
    border-color: #F47280;
    border-radius: .3rem !important;
}

.input-group-append .btn-df {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.switch {
    text-align: center;
    background-color: #F4F4F4;
    width: 120px;
    display: inline-block;
    border-radius: 1000px;
    height: 40px;
    position: relative;
    zoom: 1;
}
.switch:before, .switch:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.switch:after {
  clear: both;
}
.switch input[type="radio"] {
  display: none;
}
.switch input[type="radio"] + label {
  float: left;
  width: 50%;
  position: relative;
  z-index: 2;
  line-height: 40px;
  cursor: pointer;
  color: #757575;
  border-radius: 1000px;
}
.switch input[type="radio"]:checked + label {
  color: #000000;
  font-weight: bold;
}
.switch span {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  border-radius: 1000px;
  background-color: #F47280;
  transition: all 200ms ease;
}
.switch span.right {
  left: 50%;
  border-radius: 1000px;
  transition: all 200ms ease;
}


.btn {
    text-transform: uppercase;
}

.jumbotron {
        background-color: transparent;
    }


.jumbotron .input-group-append .btn-df {
    border-radius: .3rem !important;
}

.j-height {
    height: 530px;
}
.jumbotron .input-group.input-group-lg>.form-control {
    font-size: 1rem;
}



.jumbotron .input-group.input-group-lg .input-group-append>.btn,
.jumbotron .input-group.input-group-lg>.form-control {
    height: 50px;
    border: 0 solid #ced4da;
}
.jumbotron .input-group.input-group-lg .input-group-append>.btn.btn-light {
    height: 40px;
    border-radius: 4px;
    margin: 5px 11px;
    padding: 0.2rem 0.8rem;
}
.jumbotron .input-group.input-group-lg>.form-control.search {
    background-image: url('../img/ic_search_24px.svg');
    background-repeat: no-repeat;
    background-size: 10% 50%;
    background-position: left;
    padding-left: 4rem;
}

.shadow-df {
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.06);
}
.shadow-dark-df {
    background-color: rgba(238, 238, 238, 0.36);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.06);
}

.title-underline {
    width: 5rem;
    height: 0.3rem;
    background-color: #F47280;
    display: inline-block;
}

.dy-sections {
    position: relative;
}
.dy-sections .dy-section-first section >img,
.dy-sections .dy-section-second section >img,
.dy-sections .dy-section-third section >img {
    position: relative;
}




.bg-dark-df {
    position: relative;
/*    background-image: linear-gradient(to top, #eeeeee, #cfcfcf, #b1b1b1, #939393, #f1f1f1);*/
    /*background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);*/
    background-color: rgba(238, 238, 238, 0.36); 
}



.ct-drop .nav-link.dropdown-toggle::after {
    display: none;
}

.newsletter {
    position: relative;
    top: 3rem;
}
.newsletter .card {
    border: 0 solid #616161;
}

.newsletter .card .card-text {
    font-size: 0.9rem;
    color: #616161;
}

footer .main {
    padding-top: 5rem;
}
footer .lead {
    font-weight: 600;
}
footer ul li a {
    color: #003977;
    font-size: 0.9rem;
}
footer ul li a.btn {
    text-decoration: none;
}

footer .terms {
    font-size: 0.8rem;
    padding: 10px 0;
}
footer .terms p {
    margin: 0;
}
footer .terms ul {
    margin: 0;
    text-align: right;
}



.navbar-scroll {
	background: #ffffff;
	padding: 10px 0;
	box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.26);
	transition-duration: 0.4s;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-scroll .navbar-brand img {
    width: 150px !important;
	transition-duration: 0.4s;
}
.navbar-scroll .nav-scroll-link-hide {
	transition: all 0.3s ease-in-out;
    display: none !important;
}

.nav-scroll-form-show {
    display: none !important;
    transition: all 0.3s ease-in-out;
}
.navbar-scroll .nav-scroll-form-show {
	transition: all 0.3s ease-in-out;
    display: inline-block !important;
    width: 80%;
}
.navbar-scroll .nav-scroll-form-show .form-control.search {
    background-image: url(../img/ic_search_24px.svg);
    background-repeat: no-repeat;
    background-size: 10% 50%;
    background-position: left;
    padding-left: 3rem;
}
.navbar-scroll .nav-scroll-form-show .form-control {
    font-size: 0.8rem;
}
.navbar-scroll .nav-scroll-form-show .btn {
    font-size: 1rem;
}

.jumbotron-text {
    margin-bottom: 3rem;
}

.form-search .form-row .form-group {
    margin: 0;
}
.form-search .form-row .form-control {
    height: 50px;
    border: 0 solid #ced4da;
    border-radius: 0;
}
.form-search .form-row .search>.form-control {
    background-image: url(../img/ic_search_24px.svg);
    background-repeat: no-repeat;
    background-size: 10% 50%;
    background-position: left;
    padding-left: 4rem;
    border-right: 1px solid #ced4da;
}
.form-search .form-row .location .gps {
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    border: none;
}
.form-search .form-row .form-btn-search .btn-df {
    line-height: 2.25rem;
}

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .navbar-brand>img {
        width: 260px;
        height: 100%;
    }

    .section-height {
        height: 768px;
    }
    .switch {
        margin: 0 1.5rem 0 !important;
    }
    .jumbotron {
        background-image: url('../img/banner.svg');
        background-repeat: no-repeat;
        background-position: right; 
        background-size: 32% 100%;
        position: relative;
        padding: 0 0 4rem;
    }
    .jumbotron-text > img {
        margin-bottom: 2rem;
    }
    .jumbotron h1.display-6 {
        font-size: 2rem;
        text-shadow: 0 2px 3px #0000004d;
    }
    .jumbotron h1.display-6, .jumbotron p.text-secondary {
        padding-left: 7.5rem;
    }

    .jumbotron .p-searches {
        position: absolute;
        bottom: -26px;
        left: 2rem;
        font-size: 0.7rem;
        margin: 0;
    }

    .dy-sections .dy-section-first section >img {
        top: -4.2rem;
    }
    .dy-sections .dy-section-second section >img,
    .dy-sections .dy-section-third section >img {
        top: -100px;
    }

    .dy-sections .dy-section-second, 
    .dy-sections .dy-section-third {
        position: absolute;
    }
    .dy-sections .dy-section-second {
        top: 20rem;
        left: 20rem;
    }
    .dy-sections .dy-section-third {
        top: 2rem;
        right: 0;
    }
    .dy-sections .inner-section p.text-secondary {
        font-size: 1rem;
    }

    .dir-arrow .top,
    .dir-arrow .bottom {
        position: absolute;
    }
    .dir-arrow .top {
        top: -14rem;
        left: 11rem;
        transform: rotate(-16deg);
    }
    .dir-arrow .bottom {
        top: 200px;
        left: 100px;
    }
    .left-items {
        text-align: right;
    }

    .m-screen {
        margin-top: -6rem;
    }

    .mb-show ul.list-unstyled li {
        margin-top: 4rem;
    }
    
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .btn-df {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .navbar {
        justify-content: flex-start;
    }
    .navbar-brand {
        margin: 0 0 0 3rem;
        padding: 0;
    }
    .navbar-brand>img {
        width: 220px;
        height: 100%;
    }
    .navbar-toggler {
        border: 0 solid rgba(0,0,0,.1);
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/ic_menu_24px.svg);
    }

    .jumbotron ul.p-searches li a {
        font-size: 0.8rem;
    }
    .jumbotron .jumbotron-text>h1 {
        font-size: 2rem;
        text-shadow: 0 2px 3px #0000004d;
    }
    .jumbotron-text p {
        font-size: 0.9rem !important;
    }
    
    .full-modal.modal-dialog {
        margin: 0;
    }
    .full-modal.modal-dialog .modal-content {
        border-radius: 0;
        border: none;
        height: calc(100vh - 0px);
        overflow: auto;
    }
    .full-modal.modal-dialog .modal-content .modal-header {
        border-bottom-color: transparent;
    }
    .full-modal.modal-dialog .modal-content .modal-header .modal-title>img {
        width: 160px;
        height: 100%;
    }
    .full-modal.modal-dialog .modal-content .modal-header .close {
        width: 54px;
        height: 38px;
        padding: 0;
        margin: 0;
        font-size: 3rem;
        font-weight: 300;
        opacity: 1;
        line-height: 0;
    }
    .full-modal.modal-dialog .modal-content .modal-body .switch {
        width: 100%;
    }
    .full-modal.modal-dialog .modal-content .modal-body ul.list-unstyled {
        line-height: 4;
    }
    .full-modal.modal-dialog .modal-content .modal-body ul.list-unstyled a {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    
    .form-search {
        padding: 0 !important;
        box-shadow: none !important;
    }
    .form-search .form-row .form-group {
        margin: 0;
    }
    .form-search .form-row .form-control {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        margin-bottom: 10px;
        font-size: 1rem;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .form-search .form-row .location .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-search .form-row .search>.form-control {
        background-image: url(../img/ic_search_24px.svg);
        background-repeat: no-repeat;
        background-size: 15% 50%;
        background-position: left;
        padding-left: 3rem;
        border-right: 1px solid #ced4da;
    }
    .form-search .input-group-append .gps {
        padding: 0 1rem;
        line-height: 0;
        height: 50px;
        border: 1px solid #ced4da !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .jumbotron .p-searches {
        position: relative;
        height: auto;
        margin-top: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        left: 0;
    }
    .jumbotron .p-searches .list-inline-item:first-child {
        display: block;
        padding: 0;
    }
    .jumbotron .p-searches .list-inline-item {
        margin-right: 0;
    }
    
    .footer-fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
    .footer-fixed-bottom.shadow {
        box-shadow: 0 -0.2rem 0.5rem rgba(0,0,0,.10)!important;
    }
} 

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px)  ... 

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px)  ... 

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px)  ... 

/*
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/